

.container{
	background-color: grey;
	display: flex;
	padding: 10px;
	margin:50px auto;
		height: 200px;
	flex-direction: column;
	flex-wrap: wrap;
}

.item{
	margin:10px;
	padding: 14px;
	background-color: red;
	border-radius: 8px;
}